.main__nav {
  height: 42px;
  width: 100%;

  display: flex;
  align-items: center;
  border-bottom: 1px #e3e3e3 solid;
  &_input {
    outline: none;
    border: none;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    background: #e0e1e5;
    color: #4e5059;
    font-size: 12px;
    cursor: pointer;
  }
  &_toggle {
    &-block {
      flex-grow: 1;
      display: flex;
      align-items: center;

      padding: 6.5px;
      padding-left: 15px;
      column-gap: 15px;

      background-color: #ffffff;
      border-bottom: 1px #e3e3e3 solid;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin-left: 5px;

      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 22px;
        background: #e1e2e4;
      }
    }
    &-item {
      color: #575961;
      font-weight: 400;
      font-size: 14px;
      padding: 2px 8px;
      text-transform: capitalize;
      border-radius: 5px;
      &.extra {
        background: #248046;
        color: #ffffff;
      }
    }
  }
  &_btn {
    position: relative;
    & > span {
      position: absolute;
      top: -3px;
      right: 1px;
      font-size: 17px;
    }
    &-block {
      display: flex;
      align-items: center;
      background: #ffffff;
      height: 100%;
      & > span {
        height: 20px;
        width: 1px;
        background: #e8e8ea;
        margin: 0 10px;
      }
      & svg {
        font-size: 20px;
      }
    }
  }
  &_dm {
    background: #ffffff;
    height: 100%;
    padding-right: 8px;
    width: 87%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & > div {
      display: flex;
      align-items: center;
    }
    &_friend {
      &_block {
        padding: 0 10px;
        column-gap: 6px;
        & svg {
          color: #6d6f78;
          font-weight: 700;
          font-size: 20px;
        }
      }
      &_name{
        font-size: 14px;
        color: #060607;
        font-weight: 500;
      }
      &_status {
        position: relative;
        width: 8px;
        height: 8px;
        & .dm-friend_status-icon {
          &::after {
            bottom: 50%;
            right: 50%;
            transform: translate(50%, 50%);
          }
          &.dnd {
            &::before {
              bottom: 50%;
              right: 50%;
              transform: translate(50%, 50%);
            }
          }
          &.offline {
            &::before {
              bottom: 50%;
              right: 50%;
              transform: translate(50%, 50%);
            }
          }
          &.afk {
            & svg {
              bottom: 50%;
              right: 50%;
              transform: translate(50%, 50%) rotate(30deg);

            }
          }
        }
      }
      &_options{
        column-gap: 16px;
        & svg{
          color: #4e5058;
          cursor: pointer;
          font-size: 20px;
          
        }
      }
      &_search{
        border: none;
        outline: none;
        background: none;
        width: 100px;
        color: #686972;
        font-size: 13px;
        transition: 0.2s;
        &:focus{
          width: 200px;
        }
        &_block{
          background: #e0e1e5;
          display: flex;
          align-items: center;
          padding: 2px 6px;
          border-radius: 5px;
        }
      }
    }
  }
}

.MuiToggleButton-root.main__nav_toggle {
  transition: 0.1s;
  &:hover {
    background: #ebebed;
    border-radius: 5px;
  }
}
.main__nav_toggle.Mui-selected {
  background: #e1e2e4;
}
