.main__nav {
  height: 42px;
  width: 100%;

  display: flex;
  align-items: center;

  &_input {
    outline: none;
    border: none;
    width: 100%;
    padding: 7px;
    border-radius: 5px;
    background: #e0e1e5;
    color: #4e5059;
    font-size: 12px;
    cursor: pointer;
  }
  &_toggle {
    &-block {
      flex-grow: 1;
      display: flex;
      align-items: center;

      padding: 7.5px;
      padding-left: 15px;
      column-gap: 15px;

      background-color: #ffffff;
    }
    &-list {
      display: flex;
      align-items: center;
      column-gap: 15px;
      margin-left: 5px;

      position: relative;
      &::before {
        content: '';
        width: 1px;
        height: 22px;
        background: #e1e2e4;
      }
    }
    &-item {
      color: #575961;
      font-weight: 400;
      font-size: 14px;
      padding: 2px 8px;
      text-transform: capitalize;
      border-radius: 5px;
      &.extra {
        background: #248046;
        color: #ffffff;
      }
    }
  }
  &_btn{
    position: relative;
    & > span{
      position: absolute;
      top: -3px;
      right: 1px;
      font-size: 17px;
    }
    &-block{
      display: flex;
      align-items: center;
      background: #ffffff;
      height: 100%;
      & > span{
        height: 20px;
        width: 1px;
        background: #e8e8ea;
        margin: 0 10px;
      }
      & svg{
        font-size: 20px;
      }
    }
  }
}

.MuiToggleButton-root.main__nav_toggle {
  transition: 0.1s;
  &:hover {
    background: #ebebed;
    border-radius: 5px;
  }
}
.main__nav_toggle.Mui-selected {
  background: #e1e2e4;
}