.friends__list {
  display: flex;
  flex-direction: column;
  height: 670px;

  overflow-y: scroll;
  animation: fade 0.3s ease-in-out;
  
  padding-right: 10px;
  &::-webkit-scrollbar {
    width: 7px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    transition: 0.2s;
    border-radius: 3px;
  }
  & .dm-friend_card {
    
    &_activity {
      width: 100%;
      max-width: 100%;
    }
  }
  &_card_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 12px 10px;
    transition: 0.1s;
    border-radius: 8px;

    position: relative;
    &::before{
      content: '';
      width: 98%;
      height: 1px;
      background: #e1e2e4;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    cursor: pointer;
    &:hover {
      background-color: #ebebed;
    }
    & button {
      background-color: #eeeff1;
    }
    & svg {
      font-size: 18px;
      color: #4e5058;
    }
  }

  &_wrapper {
    width: 100%;
    padding: 16.5px 15.5px;
    padding-right: 5px;
  }
  &_search {
    width: 100%;
    border: none;
    background: none;
    color: #5c5e66;
    outline: none;

    &_block {
      background: #e0e1e5;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 6px 8px;

      margin: 0 10px;
      margin-right: 20px;
      & svg {
        color: #5c5e66;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }
  &_title {
    color: #4e5058;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0 10px;
    margin-top: 18px;
    margin-bottom: 16px;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
