.sidebar {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.MuiTooltip-popper{
  padding: 10px;
  font-size: 20px;
}

.home.channel {
  cursor: pointer;
  transition: 0.2s;
  background-color: #ffffff;

  &:hover {
    border-radius: 35%;
    background: #5865f2;
    & > img.white {
      opacity: 1;
    }
    & > img.black {
      opacity: 0;
    }
  }
  &.active {
    border-radius: 35%;
    background: #5865f2;
  }
}

.home__underline {
  width: 30px;
  height: 2px;
  background-color: #c9cbd0;
  border: none;
}

.channel {
  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 9px;
  }
}

.discord-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 27px;
  color: black;
  opacity: 0;

  transition: 0.2s;
  &.active {
    opacity: 1;
  }
}

.Mui-selected.sidebar__toggle {
  & .channel.home {
    border-radius: 35%;
    background: #5865f2;
    & > img.white {
      opacity: 1;
    }
    & > img.black {
      opacity: 0;
    }
  }
}
